{% extends 'bootstrap/base.html' %}
{% block title %} Book Library {% endblock %}


{% block content %}
<div class="container">
    <h1>My Library</h1>
    {% if books == []: %}
    <p>Library is Empty</p>
    {% endif %}
    <ul>
        {% for book in books: %}

        <li>
            <div>
                <p>{{ book.title }} - {{ book.author }} - {{ book.rating }}</p>
                <a href="edit/{{ book['id'] }}">Edit Rating</a>
                <hr>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add') }}">Add New Book</a>
</div>
{% endblock %}
</html>